<%= form_with(model: administrator_contact, local: true) do |form| %>
  <% if administrator_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(administrator_contact.errors.count, "error") %> prohibited this administrator_contact from being saved:</h2>

      <ul>
      <% administrator_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
