<h1>Editing Administrator Contact</h1>

<%= render 'form', administrator_contact: @administrator_contact %>

<%= link_to 'Show', @administrator_contact %> |
<%= link_to 'Back', administrator_contacts_path %>
