<%= form_with(model: administrator_admin, local: true) do |form| %>
  <% if administrator_admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(administrator_admin.errors.count, "error") %> prohibited this administrator_admin from being saved:</h2>

      <ul>
      <% administrator_admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
