<h3 class="page-title">Admin</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <%= link_to "Home", :controller => "administrator/admins", :action => "index" %>
            &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        
        <li>
        <a href="#">Admin</a>
        </li>
    </ul>
</div>